@model IdentitySample.Models.Book
@{
    ViewBag.Title = "Edit a book:";
}


    <div class="jumbotron">
        <h1>Edit a book:</h1>
        @using (Html.BeginForm("EditBook", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)
            
            <div>BookName:</div>           
            @Html.TextBoxFor(m => m.Name)
            <div>BookPrice:</div>
            @Html.TextBoxFor(m => m.Price)

            <div>Cover Image:</div>
            <input type="file" name="cover"/>
            @Html.HiddenFor(m => m.CoverImagePath)

            <div>Authors:</div>
            @Html.TextBoxFor(m => m.Author)
            <div>Description:</div>
            @Html.TextAreaFor(m=>m.Discription)
            <div>Condition:</div>

            @*@Html.TextBoxFor(m => m.Condition)*@
            @Html.RadioButtonFor(model => model.Condition, "New")
            @Html.Label("New", "New")
            @Html.RadioButtonFor(model => model.Condition, "Used")
            @Html.Label("Used", "Used")           

            <div>ISBN:</div>
            @Html.TextBoxFor(m => m.ISBN)
            <br />
            @Html.RadioButtonFor(model => model.status, "false")
            @Html.Label("delete", "下架")
            @Html.RadioButtonFor(model => model.status, "true")
            @Html.Label("recover", "上架")
            <br />
            <input type="submit" value="Edit" />
            <br />
            @Html.ActionLink("Home", "Index", "Home")
        }
    </div>
